<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    
    <body>
	
	<!-- navigation -->
	<nav th:replace="fragments::nav"></nav>
	
	<!-- header -->
	<div class="container">
		<div th:replace="fragments::header"></div>
	</div>
	<br/><br/>
	
	<!-- main content -->
	<div class="container blue-main-content">
	<br/>
	
	<div th:unless="${#lists.isEmpty(mainList)}">
		<dl th:each="file : ${mainList}">
			<dt>	
				<label>ID:</label>
				<span th:if="${file.id}" th:text="${file.id}">ID: </span> <br/>
				<span th:if="${file.id eq null}">No ID available</span> <br/>	
							
				<label>Title:</label>
				<span th:if="${file.title}" th:text="${file.title}">Title: </span> <br/>
				<span th:if="${file.title eq null}">No title available</span> <br/>
				
				<label>File name:</label>
				<span th:if="${file.filename}" th:text="${file.filename}">File name: </span> <br/>
				<span th:if="${file.filename eq null}">No file name available</span> <br/>
							
				<label>Description:</label>
				<span th:if="${file.description}" th:text="${file.description}">Description: </span> <br/>
				<span th:if="${file.description eq null}">No description available</span> <br/>

							
			<!-- add the image from bucket -->
       			<img th:attr="src=${file.url},title=${file.title},alt=${file.description}" /><br/>
           
           
			</dt>
			</dl>
	</div>
					
	<div th:if="${#lists.isEmpty(listMain)}">	
		<p>You have no updates...</p>
	</div>
  
		
	<br/>
	</div>
	<br/><br/><br/>
	
    <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>

    </body>
</html>