<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    
    <body>
	
	<!-- navigation -->
	<nav th:replace="fragments::nav"></nav>
	
	<!-- header -->
	<div class="container">
		<div th:replace="fragments::header"></div>
	</div>
	<br/><br/>
	
	<!-- main content -->
	<div class="container blue-main-content">
	<br/>
  
	<div th:unless="${#lists.isEmpty(mainList)}">
		<dl th:each="content : ${mainList}">
			<dt>	
				<label>ID:</label>
				<span th:if="${content.id}" th:text="${content.id}">ID: </span> <br/>
				<span th:if="${content.id eq null}">No ID available</span> <br/>	
							
				<label>Title:</label>
				<span th:if="${content.title}" th:text="${content.title}">Title: </span> <br/>
				<span th:if="${content.title eq null}">No title available</span> <br/>
				
				<label>Description:</label>
				<span th:if="${content.description}" th:text="${content.description}">Description: </span> <br/>
				<span th:if="${content.description eq null}">No description available</span> <br/>
				
				<label>URL:</label>
				<span th:if="${content.url}" th:text="${content.url}">Description: </span> <br/>
				<span th:if="${content.url eq null}">No URL available</span> <br/>

							
				<!-- add the image from bucket -->
       			<img th:attr="src=${content.url},title=${content.title},alt=${content.description}" /><br/>
           
           
			</dt>
			</dl>
	</div>
					
	<div th:if="${#lists.isEmpty(listMain)}">	
		<p>You have no updates...</p>
	</div>
		
	<br/>
	</div>
	<br/><br/><br/>
	
    <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>

    </body>
</html>