<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    
    <body>
	
	<!-- navigation -->
	<nav th:replace="fragments::nav"></nav>
	
	<!-- header -->
	<div class="container">
		<div th:replace="fragments::header"></div>
	</div>
	<br/><br/>
	
	<!-- main content -->
	<div class="container blue-main-content">
	
		<div th:unless="${context == null}">
			
	<div class="row featurette">
			<div class="col-md-7">
				
				<h2 class="featurette-heading" th:utext="${context.name}"></h2>
				<p class="lead" th:utext="${context.description}"></p>
			</div>
			<!-- image -->
			<div class="col-md-5">
				<br/>
				<img class="blue-img" th:src="${context.url}" th:alt="${context.name}" 
				th:title="${context.name}" />
				
			</div>
		</div>
	</div>
		
		<div th:if="${context eq null}">	
			<p>List is empty</p>
		</div>   

	
	<br/>
	</div>
	<br/><br/><br/>
	
    <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>

    </body>
</html>