<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    
    <body>
	
	<!-- navigation -->
	<nav th:replace="fragments::nav"></nav>
	
	<!-- header -->
	<div class="container">
		<div th:replace="fragments::header"></div>
	</div>
	<br/><br/>
	
	<!-- main content -->
	<div class="container blue-main-content">
	
		<div th:unless="${#lists.isEmpty(contextList)}">
			<div th:each="context : ${contextList}">
				<h2 th:utext="${context.name}"></h2>
				<p th:utext="${context.description}"></p>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(contextList)}">
			<h2>Create a eye-popping header</h2>	
			<p>Write and interesting paragraph.</p>
		</div> 
				
		<div th:unless="${#lists.isEmpty(mainList)}">
			
				<table class="table table-inverse blue-table table-responsive">
					<tbody>
					
						<tr th:each="item, idx : ${mainList}" 
								th:class="${idx.odd} ? 'blue-odd-table' : 'blue-even-table'">
							<td><a th:href="${item.url}" target="_blank" 
									th:inline="text">[[${item.name}]]</a></td>
							<td th:utext="${item.description}"></td>
						</tr>
					
					</tbody>
				</table>
			
		</div>
		
		<div th:if="${#lists.isEmpty(mainList)}">	
			<p>List is empty</p>
		</div>   

	
	<br/>
	</div>
	<br/><br/><br/>
	
    <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>

    </body>
</html>