<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    
    <body>
	
	<!-- navigation -->
	<nav th:replace="fragments::nav"></nav>
	
	<!-- header -->
	<div class="container">
		<div th:replace="fragments::header"></div>
	</div>
	<br/><br/>
	
	<!-- main content -->
	<div class="container blue-main-content">
	<br/>

		<br/>
		<h2>Upload new files to storage.</h2>
        
        <form class="form-group" action="/newNav" method="POST">        
	
				<!-- half and half columns -->
		        <div class="row">
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="homeButton">Please enter a title for the Home button *</label>
		        			<input id="homeButton" type="text" name="homeButton" class="form-control" placeholder="Please enter a title for the Home button*" 
		        				required="required" data-error="Please enter a title."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="servicesButtom">Please enter a title for the Services button *</label>
		        			<input id="servicesButton" type="text" name="servicesButton" class="form-control" placeholder="Please enter a title for the Services button *" 
		        				required="required" data-error="Please enter a ."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
	
		        </div>
		        <!-- half and half columns -->
		        <div class="row">
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="contactButton">Please enter a title for the Contact button *</label>
		        			<input id="contactButton" type="text" name="contactButton" class="form-control" placeholder="Please enter a title for the Contact button *" 
		        				required="required" data-error="Please enter a title."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
		        	
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="aboutButton">Please enter a title for the About button *</label>
		        			<input id="aboutButton" type="text" name="aboutButton" class="form-control" placeholder="Please enter a title for the About button *" 
		        				required="required" data-error="Please enter a title."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
	
		        </div>
		        
		        <div class="row">
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="projectsButton">Please enter a title for the Projects button *</label>
		        			<input id="projectsButton" type="text" name="projectsButton" class="form-control" placeholder="Please enter a title for the Projects button *" 
		        				required="required" data-error="Please enter a title."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>

	
		        </div>

			 				 	
			 	<br/>
			    <button type="submit" id="upload-button">New Navigation</button>
		</form>
        
        <br/><br/>
        <!-- delete based on ID -->
        <h2>Delete entry based on ID number</h2>
		<form action="/delete-nav" method="GET">
			<label for="id">ID:</label><br />
			<input type="text" name="id" class="ID"  
				required="required" data-error="ID is required." />
			<div class="help-block with-errors"></div><br />	
			<h3>Click this button to delete entry</h3><br />
			<button type="submit" id="button">Delete</button>
			<br />
		</form>
				
		<br/><br/>

		<!-- list all for figuring out ID -->				
		<h2>List all images by category</h2>
		<form action="/list-navs" method="GET">
			<button type="submit" id="button">List all</button><br />
		</form>
				
				
		<br/><br/>

	
	<br/>
	</div>
	<br/><br/><br/>
	
    <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>

    </body>
</html>