<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    
    <body>
	
	<!-- navigation -->
	<nav th:replace="fragments::nav"></nav>
	
	<!-- header -->
	<div class="container">
		<div th:replace="fragments::header"></div>
	</div>
	<br/><br/>
	
	<!-- main content -->
	<div class="container blue-main-content">
	<br/>
  
		<br/>
		<h2></h2>
        
        <form class="form-group" action="/newStyle" method="POST">        
	
	
			
				<!-- half and half columns -->
		        <div class="row">
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="backgroundColor">Please enter a Background color *</label>
		        			<input id="backgroundColor" type="text" name="backgroundColor" class="form-control" placeholder="Please enter a color *" 
		        				required="required" data-error="Please enter a color."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
		        	
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="headerBackgroundColor">Please enter a Header color *</label>
		        			<input id="headerBackgroundColor" type="text" name="headerBackgroundColor" class="form-control" placeholder="Please enter a color *" 
		        				required="required" data-error="Please enter a color."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
	
		        </div>
		        
		        <div class="row">
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="textColor">Please enter a Text color *</label>
		        			<input id="textColor" type="text" name="textColor" class="form-control" placeholder="Please enter a color *" 
		        				required="required" data-error="Please enter a color."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
		        	
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="mainContentBackgroundColor">Please enter a Main content Background color *</label>
		        			<input id="mainContentBackgroundColor" type="text" name="mainContentBackgroundColor" class="form-control" placeholder="Please enter a color *" 
		        				required="required" data-error="Please enter a color."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
	
		        </div>
		        
		        <!-- half and half columns -->
		        <div class="row">
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="evenTableBackgroundColor">Please enter a Background table color for even numbered spaces *</label>
		        			<input id="evenTableBackgroundColor" type="text" name="evenTableBackgroundColor" class="form-control" placeholder="Please enter a color *" 
		        				required="required" data-error="Please enter a color."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
		        	
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="oddTableBackgroundColor">Please enter a Background table color for odd numbered spaces *</label>
		        			<input id="oddTableBackgroundColor" type="text" name="oddTableBackgroundColor" class="form-control" placeholder="Please enter a color *" 
		        				required="required" data-error="Please enter a color."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
	
		        </div>

		        <div class="row">
		        
		        	<div class="col-md-6">
		        		<div class="form-group">
		        			<label for="linkColor">Please enter a Color for page links *</label>
		        			<input id="linkColor" type="text" name="linkColor" class="form-control" placeholder="Please enter a color *" 
		        				required="required" data-error="Please enter a color."/>
		        			<div class="help-block with-errors"></div>
		        		</div>
		        	</div>
		        	
		        </div>
		      			 				 	
			 	<br/>
			    <button type="submit" id="upload-button">New Style Sheet</button>
		</form>
        
        <br/><br/>
        <!-- delete based on ID -->
        <h2>Delete entry based on ID number</h2>
		<form action="/delete-style" method="GET">
			<label for="id">ID:</label><br />
			<input type="text" name="id" class="ID"  
				required="required" data-error="ID is required." />
			<div class="help-block with-errors"></div><br />	
			<h3>Click this button to delete entry</h3><br />
			<button type="submit" id="button">Delete</button>
			<br />
		</form>
				
		<br/><br/>

		<!-- list all for figuring out ID -->				
		<h2>List all images by category</h2>
		<form action="/list-styles" method="GET">
			<button type="submit" id="button">List all</button><br />
		</form>
				
				
		<br/><br/>
	
	<br/>
	</div>
	<br/><br/><br/>
	
    <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>

    </body>
</html>